In [0]:
CREATE TABLE employees
  (id INT, name STRING, salary DOUBLE)

In [0]:
%sql
INSERT INTO employees
  VALUES (1, "Mark", 2500.50),
   (2, "Jhoe", 3500.50);

INSERT INTO employees
  VALUES (3, "Julie", 1500.50);

In [0]:
%sql
SELECT * FROM employees

In [0]:
%sql
DESCRIBE DETAIL employees

In [0]:
%sql
UPDATE employees
SET salary = salary + 150
WHERE name LIKE "J%"

In [0]:
%sql
SELECT * FROM employees

In [0]:
%sql
DESCRIBE DETAIL employees

In [0]:
%sql
DESCRIBE HISTORY employees

In [0]:
%fs ls 'dbfs:/'

# Explore Database and Tables

In [0]:
%sql
CREATE CATALOG IF NOT EXISTS dae_learn_path;

In [0]:
%sql
USE dae_learn_path.default;

In [0]:
%sql
CREATE TABLE managed_default
  (width INT, length INT, height INT);

INSERT INTO managed_default
  VALUES (3, 2, 1);

In [0]:
%sql
DESCRIBE EXTENDED managed_default

In [0]:
%sql
-- [UC_FILE_SCHEME_FOR_TABLE_CREATION_NOT_SUPPORTED] Creating table in Unity Catalog with file scheme dbfs is not supported.
-- Instead, please create a federated data source connection using the CREATE CONNECTION command for the same table provider, then create a catalog based on the connection with a CREATE FOREIGN CATALOG command to reference the tables therein. SQLSTATE: 0AKUC

CREATE TABLE external_default
  (width INT, length INT, height INT)
LOCATION 'dbfs:/Volumes/demo_course/external_default';

INSERT INTO external_default
  VALUES (3, 2, 1);

In [0]:
%sql 
DESCRIBE CATALOG EXTENDED dae_learn_path

In [0]:
%sql
-- DROP CATALOG dae_learn_path CASCADE;

# Explore Views

In [0]:
%sql
USE CATALOG dae_learn_path;

CREATE TABLE IF NOT EXISTS smartphones
(id INT, name STRING, brand STRING, year INT);

INSERT INTO smartphones
VALUES (1, 'iPhone 14', 'Apple', 2022),
      (2, 'iPhone 13', 'Apple', 2021),
      (3, 'iPhone 6', 'Apple', 2014),
      (4, 'iPad Air', 'Apple', 2013),
      (5, 'Galaxy S22', 'Samsung', 2022),
      (6, 'Galaxy Z Fold', 'Samsung', 2022),
      (7, 'Galaxy S9', 'Samsung', 2016),
      (8, '12 Pro', 'Xiaomi', 2022),
      (9, 'Redmi 11T Pro', 'Xiaomi', 2022),
      (10, 'Redmi Note 11', 'Xiaomi', 2021)

In [0]:
%sql
SHOW TABLES

In [0]:
%sql
CREATE VIEW vw_apple_phones
AS SELECT * 
  FROM smartphones
  WHERE brand = 'Apple'

In [0]:
%sql
SELECT * FROM vw_apple_phones

In [0]:
%sql
CREATE TEMP VIEW tp_vw_phones_brands
AS SELECT DISTINCT brand 
  FROM smartphones;
  
SELECT * FROM tp_vw_phones_brands;

In [0]:
%sql
SHOW TABLES

In [0]:
%sql
CREATE GLOBAL TEMP VIEW gb_vw_latest_phones
AS SELECT *
  FROM smartphones
  WHERE year > 2020
  ORDER BY year DESC;
  
-- [NOT_SUPPORTED_WITH_SERVERLESS] GLOBAL TEMPORARY VIEW is not supported on serverless compute. SQLSTATE: 0A000
SELECT * FROM gb_vw_latest_phones;